.git
.github
mobile
docs
**/node_modules
web/dist
backend/vendor
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/database/*.sqlite
web/.env
web/.env.local
backend/bootstrap/cache/*.php
